@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
}
.container {
  width: 90%;
  max-width: 736px;
  height: auto;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(0, 0%, 100%);
  border-radius: 32px;
}
.result-container {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 55px;
  gap: 25px;
  justify-content: flex-start;
}
.result-1 p {
  color: hsl(241, 100%, 89%);
  font-weight: 500;
  font-size: 25px;
}
.result-2 {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result-2 h1 {
  font-size: 72px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.result-2 p {
  color: hsla(0, 0%, 100%, 0.642);
}
.result-3 h1 {
  font-size: 35px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}
.result-4 p {
  font-size: 18px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.summary-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 32px 32px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 55px;
  gap: 50px;
  justify-content: flex-start;
}
.summary-1 p {
  color: hsl(224, 30%, 27%);
  font-size: 25px;
  font-weight: 800;
}
.summary-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.reaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 15px 10px;
  background-color: hsla(0, 100%, 67%, 0.2);
  border-radius: 20px;
  width: 270px;
}
.reaction-1 {
  display: flex;
  gap: 5px;
  color: hsl(0, 100%, 67%);
}
.reaction-2 p {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.reaction-2 span {
  color: hsla(224, 30%, 27%, 0.463);
}
.memory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 15px 10px;
  background-color: hsla(39, 100%, 56%, 0.2);
  border-radius: 20px;
  width: 270px;
}
.memory-1 {
  display: flex;
  gap: 5px;
  color: hsl(39, 100%, 56%);
}
.memory-2 p {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.memory-2 span {
  color: hsla(224, 30%, 27%, 0.463);
}
.verbal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 15px 10px;
  background-color: hsla(166, 100%, 37%, 0.2);
  border-radius: 20px;
  width: 270px;
}
.verbal-1 {
  display: flex;
  gap: 5px;
  color: hsl(166, 100%, 37%);
}
.verbal-2 p {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.verbal-2 span {
  color: hsla(224, 30%, 27%, 0.463);
}
.visual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 15px 10px;
  background-color: hsla(234, 85%, 45%, 0.2);
  border-radius: 20px;
  width: 270px;
}
.visual-1 {
  display: flex;
  gap: 5px;
  color: hsl(234, 85%, 45%);
}
.visual-2 p {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}
.visual-2 span {
  color: hsla(224, 30%, 27%, 0.463);
}
.continue-btn {
  width: 270px;
  padding: 15px 10px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  border: none;
  font-weight: 700;
}
.continue-btn:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    height: auto;
    padding: 0;
  }
  .container {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    border-radius: 0 0 32px 32px;
  }
  .result-container {
    border-radius: 0 0 32px 32px;
  }
}
